---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Contact from '~/components/widgets/Contact.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Contact us on Whatsapp', href: 'https://wa.me/918141403236', icon: 'ic:baseline-whatsapp' }}
    callToAction2={{ text: 'or E-mail us!', href: '#features'}}
    image={{ src: import('~/assets/images/hero_lala.png'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Find your digital space with
      <span class="text-accent dark:text-white highlight"> Sarang</span> developers
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Sarang developers</span>, based in Ahmedabad, offers cutting-edge web and mobile app
        solutions to diverse clients. We cater to Startups, Small & Large Businesses, and individuals with utmost
        proficiency.</span
      >
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    highlight=""
    title="Our offerings"
    subtitle="We offer varied services and we aim to excel at those services."
    items={[
      [
        {
          title: 'Website development',
          description:
            'We offer innovative and efficient website development using the latest technologies and design principles.',
          icon: 'tabler:browser',
        },
        {
          title: 'Automation Services',
          description:
            'Streamline your business processes with our reliable and efficient automation services, saving time and reducing costs.',
          icon: 'tabler:robot',
        },
        {
          title: 'Cloud services',
          description:
            'Secure, reliable and fast cloud services to ensure your web apps are always accessible and performs at their best.',
          icon: 'tabler:cloud-upload',
        },
      ],
      [
        {
          title: 'AI Integration Services',
          description:
            'We empower you to integrate leading AI models like ChatGPT into your systems, enhancing user interactions with AI capabilities.',
          icon: 'tabler:grain',
        },

        {
          title: 'UI/UX Design',
          description:
            'We create intuitive and engaging user interfaces that offer a seamless user experience and enhance user satisfaction.',
          icon: 'ic:baseline-design-services',
        },
        {
          title: 'E-commerce development',
          description:
            'Our e-commerce development services can help you create a robust and versatile online store that delivers a seamless shopping experience.',
          icon: 'tabler:shopping-cart',
        },
      ],
    ]}
  />
 <!-- HighlightedPosts Widget ******* -->

 <LatestPosts
 title="Know more about the work we do."
 information={` Check out some of the work we have done. We take pride in what we do 
                to bring out the best digital versions of our customers.                
             `}
/>
  <!-- Content Widget **************** -->

  <!--  <Content
    highlight="Inside template"
    title="And what's inside? ..."
    items={[
      {
        title: 'Per ei quaeque sensibus',
        description:
          'Ex usu illum iudico molestie. Pro ne agam facete mediocritatem, ridens labore facete mea ei. Pro id apeirian dignissim.',
      },
      {
        title: 'Cu imperdiet posidonium sed',
        description:
          'Amet utinam aliquando ut mea, malis admodum ocurreret nec et, elit tibique cu nec. Nec ex maluisset inciderint, ex quis.',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
        description:
          'At sed possim oporteat probatus, justo graece ne nec, minim commodo legimus ut vix. Ut eos iudico quando soleat, nam modus.',
      },
    ]}
    image={{
      src: import('~/assets/images/caos.jpg'),
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Ad vix debet docendi</h3>
      Ne dicta praesent ocurreret has, diam theophrastus at pro. Eos etiam regione ut, persius eripuit quo id. Sit te euismod
      tacimates.
    </Fragment>
  </Content> -->

  <!-- Content Widget **************** -->

  <!-- <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Per ei quaeque sensibus',
      },
      {
        title: 'Cu imperdiet posidonium sed',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
      },
      {
        title: 'Per ei quaeque sensibus',
      },
      {
        title: 'Cu imperdiet posidonium sed',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
      },
    ]}
    image={{
      src: import('~/assets/images/vintage.jpg'),
      alt: 'Vintage Image',
    }}
  />
 -->
  <!-- Steps Widget ****************** -->

  <Steps
    title="Get your dream project up and running in no time with Sarang."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Requirements Gathering</span>',
        description: 'We start by collaborating with the client to define and understand their needs and requirements.',
        icon: 'tabler:clipboard-list',
      },
      {
        title: 'Step 2: <span class="font-medium">Design and Prototyping</span>',
        description: 'Based on the requirements, we create an initial design and a working prototype of the solution.',
        icon: 'tabler:brush',
      },
      {
        title: 'Step 3: <span class="font-medium">Iteration and Development</span>',
        description:
          'Using Agile methodologies, we develop the solution incrementally through iterations, incorporating client feedback at each step.',
        icon: 'tabler:repeat',
      },
      {
        title: 'Step 4: <span class="font-medium">Testing and Deployment</span>',
        description:
          'Each feature is thoroughly tested for functionality and usability. Once validated, the solution is deployed.',
        icon: 'tabler:cloud-upload',
      },
      {
        title: 'Step 5: <span class="font-medium">Review and Maintenance</span>',
        description:
          'Post-deployment, we continuously review the solution based on user feedback and provide necessary maintenance.',
        icon: 'tabler:tools',
      },
    ]}
    image={{
      src: import('~/assets/images/agile.webp'),
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Why us?"
    subtitle="Find out why more than 30 brands chose us!"
    highlight=""
    items={[
      {
        title: '1. Expert Design',
        description:
          'At Sarang Developers, we understand the power of first impressions. Our expertly designed Headers and Hero sections ensure your website immediately captivates visitors.',
        icon: 'flat-color-icons:template',
      },
      {
        title: '2. Tailored Features',
        description:
          "We make your product shine. By showcasing your product's features in action, we help customers understand the unique solutions you provide.",
        icon: 'flat-color-icons:todo-list',
      },
      {
        title: '3. Engaging Content',
        description:
          'Our team of skilled content creators ensures that the content on your site is compelling, engaging, and beautifully presented.',
        icon: 'flat-color-icons:document',
      },
      {
        title: '4. Persuasive Call-to-Action',
        description:
          'We understand the importance of a powerful call-to-action. Our team designs persuasive prompts that drive conversions and increase customer engagement.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: '5. Transparent Pricing',
        description:
          'At Sarang Developers, we believe in transparent and fair pricing. We provide clear and concise pricing details, helping customers make informed decisions.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: '6. Reliable Support',
        description:
          'Customer satisfaction is our priority. Our dedicated support team is always available to help, ensuring a smooth experience from the first contact to the final implementation.',
        icon: 'flat-color-icons:business-contact',
      },
    ]}
  />

 

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Duis turpis dui, fringilla mattis sem nec, fringilla euismod neque. Morbi tincidunt lacus nec tortor scelerisque pulvinar."
    highlight="FAQs"
    items={[
      [
        {
          question: 'What do I need to start working with Sarang Developers?',
          answer:
            'To start, we require a clear idea of your project requirements, goals, and timelines. We then use this information to craft a personalized solution.',
        },
        {
          question: 'How do I integrate the services of Sarang Developers?',
          answer:
            "We provide comprehensive support to help you seamlessly integrate our services. Our team will guide you through the installation and setup process to ensure a smooth transition.",
        },
        {
          question: "What if there's a feature that I don't understand?",
          answer:
            "Our dedicated customer support is always ready to help. If you encounter any challenges or have any questions about a feature, you can reach out to us for clarification and assistance.",
        },
      ],
      [
        {
          question: "What if I change my mind about a feature or requirement?",
          answer:
            "We follow agile methodologies which allow us to adapt to changes easily. If you change your mind about a feature or requirement, we can adjust our development process accordingly.",
        },
        {
          question: 'What if I want to redevelop or enhance an existing product?',
          answer:
            "Absolutely! We are well-versed in redesigning and enhancing existing products to meet current market trends and user needs. Just share your requirements with us.",
        },
        {
          question: 'What is the one thing that sets Sarang Developers apart?',
          answer:
            "Our commitment to delivering quality and customer satisfaction sets us apart. We strive to create solutions that not only meet but exceed our clients' expectations.",
        },
      ],
    ]}

  />

  <!-- Stats Widget ****************** -->

  <Stats
    items={[
      { name: 'Projects', value: '42' },
      { name: 'Customers', value: '30' },
      { name: 'Brand Parternerships', value: '4' },
      { name: 'Years of experience', value: '12' },
    ]}
  />

  <Contact/>
  <!-- CallToAction Widget *********** -->

  <!--  <CallToAction
    callToAction={{
      text: 'Get template',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:download',
    }}
  >
    <Fragment slot="title">
      Astro + <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction> -->
</Layout>
